[Desktop Entry]
Version=1.0
Type=Application
Name=Dolphin
Comment=Emulador de Wii / GameCube
Exec=dolphin-emu
Icon=applications-games
Terminal=false
Categories=Game;Emulator;
StartupNotify=true
